<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MapR Global Data Fabric</title>
  <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='dnd.css')}}">
</head>
<body class="border-visible" > 
  {% for country in countries %}
  <div class="border-visible drop" id="{{country}}"></div>
  <div class="border-visible docker_image_green drag" id="{{country}}_docker_image"></div>
  <div class="stream border-visible show_chart" data-stream_name="{{country}}" id="{{country}}_stream"></div>
  <div class="stream border-visible " data-stream_name="{{country}}_replica" id="{{country}}_replica_stream"></div>
  <div class="border-visible country_chart" data-country="{{country}}" id="{{country}}_chart"></div>
  {% endfor %}
  <div class="border-visible docker_image drag" id="source_docker_image"></div>
  <div class="border-visible drop" id="recycle"></div>
  <div class="border-visible" id="global_cluster"></div>
  <button id="replicate_streams" class="btn btn-danger btn-sm">Replicate streams</button>
  <div class="border-visible country_chart" data-country="global" id="global_chart"></div>
</body>

  <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='dnd.js')}}"></script>
</html>